# Ignore everything
/*

# Except...


!.gitignore
# !.gitconfig
!README.md
!.zshenv



# ...Packages helper
!Fedora/



# ...dotfiles in ~/.config
!.config
.config/*

!.config/zsh
.config/zsh/.zcompdump
.config/zsh/.zhistory

!.config/tmux

!.config/nvim
.config/nvim/backup
.config/nvim/plugin

!.config/cava
!.config/musikcube/hotkeys.json
