# Ignore everything
/*

# Except...


!.gitignore
!.gitconfig
!README.md
!.zshenv
!setup.sh



# ...my packages install helper
!Fedora/
!Arch/



# ...dotfiles in ~/.config
!.config
.config/*

!.config/zsh
.config/zsh/.zcompdump
.config/zsh/.zhistory
.config/zsh/.zsh_history

!.config/tmux

!.config/nvim
!.config/nvim/.git/

!.config/cava

!.config/foot/
