# Ignore everything
/*

# Except...


!.gitignore
# !.gitconfig
!README.md
!.zshenv
!setup.sh



# ...Packages helper
!Fedora/
!Arch/



# ...dotfiles in ~/.config
!.config
.config/*

!.config/zsh
.config/zsh/.zcompdump
.config/zsh/.zhistory
.config/zsh/.zsh_history

!.config/tmux

!.config/nvim
.config/nvim/backup
.config/nvim/plugin
.config/nvim/lazy-lock.json

!.config/cava
!.config/musikcube/hotkeys.json
