[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential

[user]
	email = luizekbartolassi@gmail.com
	name = Luiz Eduardo Bartolassi

[alias]
  logs = log --oneline --all --graph
  st = status
  last = log -1 HEAD
